
@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins',sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}

.backdim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.dycalender{
    width: 550px;
    height:auto;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid  rgb(0,255,127);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    animation: pulse 4s infinite alternate;
}

@keyframes pulse {
    0% {
        border-color: rgb(0, 255, 127);
    }
    100% {
        border-color: #901dee; 
    }
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.monthYear{
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    width: auto;
    background: #70e000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    border: 4px solid rgb(255, 153, 0);
}

.header button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border: center;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

.days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap:5px;
    font-size: 25px;
}

.day{
    text-align: center;
    padding: 5px;
    color: #838b94;
    font-weight: 700;
}

.dates {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-left: 12px;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.2s;
    color: black;
}

.dates.saturday {
    color: blue;
}

.dates.sunday {
    color: red;
}

.dates.poya {
    background-color: green;
}

.day1{
    text-align: center;
    padding: 5px;
    color: blue;
    font-weight: 700;
}

.day2{
    text-align: center;
    padding: 5px;
    color: red;
    font-weight: 700;
}

#day2{
    color: red;
}

.dates-set {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-bottom: 4px;
    gap: 10px;
}

.dates:hover,
.dates.active{
    background: #ff5869;
    color: #fff;
}

.dates.inactive{
    color:#d2d2d2;
}
  
.dates.inactive:hover{
    color:#fff;
}

.footer{
    background-image: url("bg1.png"); 
    width: 525px;
    border-radius: 10px;
    padding-top: 10px;
}

.footer .pic img{
    width: auto;
    height: 120px;
    border-radius: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.footer .pic{
    display: grid;
    grid-template-columns: repeat(2,auto);
}

.footer .topic{
    padding-top: 5px;
    padding-right: 5px;
    font-size: 20px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 28px;
    color: #fff;
}

.footer .last{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    padding-left: 100px;
}

.pressed {
    transform: scale(0.95);
}


